<link rel="stylesheet" href="{{ 'testing.css' | asset_url }}" media="print" onload="this.media='all'">

<h3>{{ section.settings.heading }}</h3>

{% for block in section.blocks %}
  <img src="{{ block.settings.image | image_url: 'master' }}" 
    width="{{ block.settings.image.width }}"
    height="{{ block.settings.image.height }}"
    />
{% endfor %}

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" />
{% schema %}
{
  "name": "testing",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading for section"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "image block",
      "settings": [
        {
          "type": "image_picker",
          "label": "Your image",
          "id": "image"
        }
      ]
    }
  ]
}
{% endschema %}